@keyframes toggle-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(-36deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes toggle-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(24deg);
  }
  75% {
    transform: rotate(36deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
