@import "./animations";
@import "./mixins";
@import "./variable";
@import "./typography";
@import "./layout";

@font-face {
  font-family: "3d_custom";
  src: url("../fonts/bullpen_3d.ttf");
}
@font-face {
  font-family: "Custom_filled";
  src: url("../fonts/bullpen_hv.ttf");
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  padding: 5vw;
  & .left {
    width: 60%;
    display: flex;
    justify-content: space-evenly;

    & .logo img{ 
      width: 10rem;
    }
  }
  //class to display none
  & .display-none {
    display: none;
  }

  //burger for moble menu toggling
  & .right {
    margin-right: 4rem;
    margin-top: 1.8rem;
    .burger {
      background-color: rgba(0, 0, 0, 0.75);
      height: 0.3rem;
      width: 3rem;

      &:not(.line-h) {
        margin: 0.7rem 0;
      }
      &.line-1 {
        position: relative;
        animation-name: toggle-left;
        animation-duration: $toggle-time;
        transform: rotate(-45deg);
      }
      &.line-3 {
        position: relative;
        top: -1rem;
        animation-name: toggle-right;
        animation-duration: $toggle-time;
        transform: rotate(45deg);
      }
    }
  }

  & .menu {
    display: none;
  }

  & .menu-open {
    display: flex;
    width: 100%;
    font-family: "3d_custom";

    flex-direction: column;
    font-size: 4rem;
    text-align: justify;

   

    margin-top: 10rem;
    margin-left: -10rem;
    margin-bottom: 3rem;
    & a {
      text-decoration: none;
      color: $menu-color;
      line-height: 8rem;
      color:   $gold-color;
      border-bottom: .1rem solid grey;
    }
  }
}
p{
  padding: 0;
  margin: 0;
  text-align: justify;
}
main{
  // height: 3000px;

& .hero{

  text-align: center;
  position: relative;
  height: 80vh;
  background-image: url(../images/main-long.jpg);
  background-size: cover;
  animation: path_up 1s 3s ease-out;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  margin: 0;
  padding: 0;
  
  }& .hero-text{
    font-weight: 900;
    
    color: rgb(212,175,55);
    position: absolute;
    font-family: "Custom_filled";
    top: 83%;
    left: 45%;
    font-size: 1.3rem;
    visibility: visible;
    text-transform: uppercase;
    text-align: center;
    animation: change_opacity 3s 3s ease-in;
    & .maf{
      font-family: "3d_custom";
      letter-spacing: 0.4rem;
      text-align: center;
      display: block;
      font-size: 3rem;
      margin-top: -4rem;
      margin-left: 45%;
      margin-bottom: 20%;
    }
    & h2{
      font-family: "3d_custom";
      font-weight: bolder;
      font-size: 2rem;
      text-align: justify;
      margin-top: 7.5%;
      margin-left: -25%;
      margin-bottom: 7.5%;
      letter-spacing: normal;
      
    }

    & .top-hr{
      margin-top: 20%;
      border: 1px solid rgba(24, 24, 24, 0.342);
      margin-left: -20%;
  
    }
    & .bottom-hr {
      border: 1px solid rgba(24, 24, 24, 0.342);
      margin-left: -50%;
    }

  }
& .about{
  font-size: 1.5rem;
  margin: 5rem 0;
  padding: 0 2rem;
  & .about-heading{
    
    text-transform: capitalize;
    font-size: 2rem;
  } 
  & p{

      font-size: 2rem;
    }
}
& .anchor{
  margin-top: 30%;
}
& .photos{
  padding: 0 2rem;
    & .grid-two-col{
      display: flex;
      width: 100%;
      & .ring{
        flex: 1;
        width: 10rem;
        height: auto;
        
      }}

    & .grid-one-col{

      
      & .main-pics{
        width: 100%;
        
      }
    }
      
    
  }
}
footer{
  margin:  2rem 0;
 
  padding: 0 2rem;
  & .socials-footer{
    // margin-top: 10rem;
    display: flex;
    align-content: space-between;
    margin-left: 10%;
    & a {
      flex: 1;
      
    }
  }
  & .dev-familiar{
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "3d_custom";
  }
}

//<--- portfolio --> //
.potfolio{
  margin-top: -10rem;
  padding: 5vw;
  text-align: center;
}
img{
  width: 90vw;
}

.display-menu-none{
  display: none;
}