@keyframes toggle-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(-36deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes toggle-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(24deg);
  }
  75% {
    transform: rotate(36deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes path_up {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  20% {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  40% {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
  60% {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  }
  80% {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  }
}
@keyframes change_opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 8;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "3d_custom";
  src: url("../fonts/bullpen_3d.ttf");
}
@font-face {
  font-family: "Custom_filled";
  src: url("../fonts/bullpen_hv.ttf");
}
@media only screen and (max-width: 767px) {
  .camera {
    width: 100%;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    padding: 5vw;
  }
  .header .left {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
  }
  .header .left .logo img {
    width: 10rem;
  }
  .header .display-none {
    display: none;
  }
  .header .right {
    margin-right: 4rem;
    margin-top: 1.8rem;
  }
  .header .right .burger {
    background-color: rgba(0, 0, 0, 0.75);
    height: 0.3rem;
    width: 3rem;
  }
  .header .right .burger:not(.line-h) {
    margin: 0.7rem 0;
  }
  .header .right .burger.line-1 {
    position: relative;
    animation-name: toggle-left;
    animation-duration: 0.3s;
    transform: rotate(-45deg);
  }
  .header .right .burger.line-3 {
    position: relative;
    top: -1rem;
    animation-name: toggle-right;
    animation-duration: 0.3s;
    transform: rotate(45deg);
  }
  .header .menu {
    display: none;
  }
  .header .menu-open {
    display: flex;
    width: 100%;
    font-family: "3d_custom";
    flex-direction: column;
    font-size: 4rem;
    text-align: justify;
    margin-top: 10rem;
    margin-left: -10rem;
    margin-bottom: 3rem;
  }
  .header .menu-open a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    line-height: 8rem;
    color: #ce933a;
    border-bottom: 0.1rem solid grey;
  }

  p {
    padding: 0;
    margin: 0;
    text-align: justify;
  }

  main .hero {
    text-align: center;
    position: relative;
    height: 80vh;
    background-image: url(../images/main-long.jpg);
    background-size: cover;
    animation: path_up 1s 3s ease-out;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    margin: 0;
    padding: 0;
  }
  main .hero-text {
    font-weight: 900;
    color: rgb(212, 175, 55);
    position: absolute;
    font-family: "Custom_filled";
    top: 83%;
    left: 45%;
    font-size: 1.3rem;
    visibility: visible;
    text-transform: uppercase;
    text-align: center;
    animation: change_opacity 3s 3s ease-in;
  }
  main .hero-text .maf {
    font-family: "3d_custom";
    letter-spacing: 0.4rem;
    text-align: center;
    display: block;
    font-size: 3rem;
    margin-top: -4rem;
    margin-left: 45%;
    margin-bottom: 20%;
  }
  main .hero-text h2 {
    font-family: "3d_custom";
    font-weight: bolder;
    font-size: 2rem;
    text-align: justify;
    margin-top: 7.5%;
    margin-left: -25%;
    margin-bottom: 7.5%;
    letter-spacing: normal;
  }
  main .hero-text .top-hr {
    margin-top: 20%;
    border: 1px solid rgba(24, 24, 24, 0.342);
    margin-left: -20%;
  }
  main .hero-text .bottom-hr {
    border: 1px solid rgba(24, 24, 24, 0.342);
    margin-left: -50%;
  }
  main .about {
    font-size: 1.5rem;
    margin: 0 0 4rem 0;
    padding: 0 2rem;
  }
  main .about .about-heading {
    font-family: "3d_custom";
    text-transform: capitalize;
    font-size: 2rem;
    color: #ce933a;
  }
  main .about p {
    font-size: 2rem;
  }
  main .anchor {
    margin-top: 30%;
  }
  main .photos {
    padding: 0 2rem;
  }
  main .photos .grid-two-col {
    display: flex;
    width: 100%;
  }
  main .photos .grid-two-col .ring {
    flex: 1;
    width: 10rem;
    height: auto;
  }
  main .photos .grid-one-col .main-pics {
    width: 100%;
  }

  footer {
    margin: 2rem 0;
    padding: 0 2rem;
  }
  footer .socials-footer {
    display: flex;
    align-content: space-between;
    margin-left: 10%;
  }
  footer .socials-footer a {
    flex: 1;
  }
  footer .dev-familiar {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "3d_custom";
  }

  .potfolio {
    margin-top: -10rem;
    padding: 5vw;
    text-align: center;
    color: #ce933a;
    font-family: "Custom_filled";
    font-size: 2rem;
  }

  img {
    width: 90vw;
  }

  .display-menu-none {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header {
    padding: 0;
    margin: 0;
    width: 97vw;
  }

  .anchor .about {
    display: none;
  }

  .header {
    padding: 1rem;
    position: relative;
  }

  .main-content .potfolio h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
    font-family: "Custom_filled";
    color: #ce933a;
  }
  .main-content .potfolio .personalshoot-pics {
    display: flex;
    flex-direction: column;
  }
  .main-content .potfolio .personalshoot-pics img {
    width: 100%;
  }
  .main-content .potfolio .personalshoot-pics .long {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .main-content .potfolio .event-pics {
    display: flex;
    flex-direction: column;
  }
  .main-content .potfolio .event-pics img {
    width: 100%;
  }
  .main-content .hero {
    height: 80rem;
    background-image: url("../images/wedding-dance.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .main-content .hero-text {
    position: absolute;
    margin: 0;
    top: 120%;
    left: 30%;
    color: #ce933a;
    font-size: 2rem;
    font-family: "Custom_filled";
    text-transform: uppercase;
  }
  .main-content .photos {
    display: flex;
    flex-direction: column;
  }
  .main-content .photos .grid-two-col {
    display: flex;
  }
  .main-content .photos .grid-two-col img {
    flex: 1;
  }
  .main-content .photos .grid-one-col {
    display: flex;
    flex-direction: column;
  }
  .main-content .photos .grid-one-col img {
    width: 100%;
  }
  .main-content .add-desktop .about span {
    position: absolute;
    left: 40%;
    font-size: 2rem;
    text-align: center;
  }
  .main-content .add-desktop .about .about-content {
    display: flex;
  }
  .main-content .add-desktop .about .about-content img {
    width: 37.5rem;
  }
  .main-content .add-desktop .about .about-content .about-text {
    font-size: 1.5rem;
    margin: 5rem 2.5rem;
    text-align: justify;
  }

  img {
    width: 200px;
  }

  .socials {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 1rem;
    top: 20rem;
  }
  .socials a {
    margin: 2rem 0;
    color: black;
  }

  .logo img {
    width: 7.5rem;
  }

  .header {
    display: flex;
    width: 100%;
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .header .menu {
    display: flex;
    width: 100%;
    margin: 1% 0 0 5%;
    position: relative;
  }
  .header .menu a {
    flex: 1;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Custom_filled";
    text-align: center;
    color: #ce933a;
    text-transform: uppercase;
    font-weight: 900;
  }
  .header .menu a:hover {
    border: 0.1rem solid rgba(147, 147, 147, 0.546);
    border-top: 1rem;
    border-right: 1rem;
    font-family: "3d_custom";
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    text-transform: capitalize;
    padding-top: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
  footer .socials-footer {
    padding: 1rem 20rem;
    display: flex;
    justify-content: space-between;
  }
  footer .dev-familiar {
    text-align: center;
    font-family: "3d_custom";
    font-size: 3rem;
    padding: 1rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
